* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
  font-family: Arial,sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: o;
  padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;;
    margin: 0 auto;
    padding: 1.6rem;
}

/* Header */
.header {
    background: #0f172a;
    padding: 1.6rem 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.header__logo {
    color: #fff;
    font-size: 3.5rem;
}

.header__links {
    display: none;
}

/* Hero */
.hero {
    padding: 8.5rem 0;
    width: 100%;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
}

.hero__container {
    /* text-align: center; */
    line-height: 1.4;
}

.hero__subtitle {
    margin-top: 1rem;
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
}

.hero__title {
    font-size: 3.3rem;
    text-align: center;
    width: 90vw;
    color: #fff;
}

.hero__text {
    font-size: 2.2rem;
    width: 90vw;
    text-align: center;
    color: #fff;
}

.hero__img {
    text-align: center;
    margin-top: 2rem;
}

.hero__img img {
    width: 24.4rem;
    height: 28rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 3px solid #60a5f5;
    outline: none;
}
.hero__buttons {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero__button--primary,
.hero__button--outline {
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.7rem;
    background: transparent;
    font-weight: 500;
    border-radius: 0.6rem;
    transition: all ease-out .5s;
}

.hero__button--primary:hover,
.hero__button--outline:hover {
    color: #60a5f5;
}

/* About */ 
/* Project */
.about,
.project {
    background: #f4f6f8;
}

.about-container__text {
    text-align: center;
    /* width: 80vw; */
}

.about__text {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
    /* width: 80vw; */
}

.about__grid,
.project__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.about__card,
.project__card {
    background: #fff;
    color: #7494ec;
    padding: 2rem 2rem;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    transition: all ease-out .5s;
}

.about__card:hover,
.project__card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.about__card i,
.project__card i {
    font-size: 5.8rem;
}

.about-card__title,
.project-card__title {
    font-size: 2.5rem;
}

.about-card__text,
.project-card__text {
    font-size: 1.8rem;
    margin-top: 0.7rem;
}

.project-card__text {
    background: #7494ec;
    color: #fff;
    padding: 0.6rem 2rem;;
    border-radius: 0.8rem;
    border: 1px solid #7494ec;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.project-card__text:hover {
    color: #7494ec;
    background: #fff;
}

/* Contact */
.contact {
    background: #f4f6f8;
    width: 100%;
    padding: 4rem 0;
    flex: 1;
}

.contact__container {
    display: flex; /* Grid o'rniga Flexbox ishlating, mobil uchun osonroq */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact__text {
    font-size: 1.8rem;
    color: #333;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 90%; /* vw o'rniga % */
    max-width: 400px;
    gap: 1.5rem;
    margin-bottom: 2rem; /* Copyrightdan oldin joy tashlaymiz */
}

.contact__input,
.contact__textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    outline: none;
    border: 1px solid #ddd;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
    color: #ccc;
}

.contact__textarea {
    resize: none;
    height: 8rem;
}

.contact__btn {
    background: #60a5f5;
    padding: 0.8rem 2rem;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}

/* Footer */
.footer {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    width: 100%;
    margin-top: auto;
    padding: 3rem 0;


}

.footer__info {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
}


@media (min-width: 992px) {
    .container {
        max-width: 150rem;
        width: 80%;
        margin: auto;
    }

    /* Header */
    .header__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        /* gap: 30rem; */
    }

    .header__logo {
        font-size: 3rem;
    }

    .header__nav {
        margin-left: 4rem;
    }

    .header__links {
        display: inline-block;
        gap: 3rem;
        margin: 0 2rem;
        font-size: 1.7rem;
        color: #cbd5f5;
        text-decoration: none;
        transition: all .1s;
    }

     .header__links:hover {
        color: #fff;
     }

     .header__links--active {
        color: #60a5f5;
     }

    /* Hero */
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero__container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .hero__grid {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        text-align: left;
        margin: 8rem 0;

    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__title,
    .hero__text {
        text-align: left;

    }

    .hero__img {
        text-align: right;
        margin: 8rem 2rem 0;
    }

    .hero__img img {
        width: 13rem;
        height: 16rem;
        object-fit: cover;
    }

    /* About section */
    .about,
    .project {
        background: #f4f6f8;
    }

    .about__text {
        margin-top: 1rem;
    }

    .about__grid,
    .project__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
    }

    .about__card, 
    .project__card {
        width: 100%;
        margin-top: 3rem;

    }

    .footer {
        padding: 6rem 0;
    }
}